<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>問診回答フォーム</title>
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark bg-info">
        <div class="navbar-header col-xs-4">
          <a class="navbar-brand p-2" hred="#">JiZoo</a>
        </div>
        <div class="col-xs-8">
          <ul class="nav navbar navbar-right">
            <li class="navbar-text">増田歯科・矯正歯科</li>
            </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class="box1"></div>
    <%= yield %>
    <script src="jquery.min.js"></script>
    <script src="js/my_jquery.js"></script>
    </main>
  </body>
</html>
